.*.swp
*-deck.cfg
data/starting-creatures.cfg
data/player-deck-*.cfg
*.pdn

*~
*.kate-swp
*.sublime-workspace
*.sublime-project
.sconsign.dblite
.scons-option-cache
.directory
*.blend1
*.blend2
*.blend3
*.db
*.odt#
dirs.txt
core
core.*
*.exe
*.d
compiled-*
tiles-compiled-*

compiled/

MacOS/include
MacOS/lib
xcuserdata
project.xcworkspace

log.txt